<div class="container">
	<div class="row">
		<h1>Request trap</h1>
		<p>A tool for capture and display HTTP requests.</p>
		<h2>How to use request trap?</h2>
		<p>Send your request to /:trap_id</p>
		<p>View the requests at /:trap_id/requests</p>
		<p>To see more about single request go to /:trap_id/requests/:id</p>		
	</div>
</div>

